{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
{% block content %}
    <h1>Le p'tit jardinier</h1>
    <h2>Le p'tit Jardinier</h2>
<h3>Des professionnels à votre service</h3>
<a href="{{ path('choix') }}">Obtenir un devis en ligne pour la taille de la haie </a>
{% endblock %}
{% endblock %}
