{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
{% block content %}
    <h1>Create un nouveau client</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('client_index') }}">Retour à la liste des clients</a>
{% endblock %}
{% endblock %}