{% extends 'base.html.twig' %}
 
{% block title %}Hello CreerHaieController!{% endblock %}
 
{% block body %}
    {% block content %}
    <h2>Ajouter un type de haie</h2>
    {{ form(form) }}
    {% endblock %}
{% endblock %}